gwpy==3.0.8
h5py==3.11.0
lisa_data_challenge==1.2.5.dev2+g0e6f561.d20250512
lisaglitch==1.3
lisagwresponse==2.3
lisainstrument==1.4
lisaorbits==2.4.2
matplotlib==3.8.4
numpy==2.3.2
PyCBC==2.4.0
pytdi==1.3.1
scipy==1.16.1
setuptools==80.1.0
